<a href="https://colab.research.google.com/github/abidshafee/google.colaboratory_projects/blob/master/DataScience_Foundation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data reduction or Dimentionality reduction

In [46]:
import pandas as pd
import numpy as np
# from sklearn.preprocessing import scale
# from sklearn.decomposition import PCA

In [30]:
from google.colab import files
uploaded = files.upload()

Saving ClusterData.csv to ClusterData.csv

In [6]:
df = pd.read_csv('Game_Logs_Offensive_Line.csv')

In [29]:
df[['Week', 'Score']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130049 entries, 0 to 130048
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Week    130049 non-null  int64
 1   Score   130049 non-null  object
dtypes: int64(1), object(1)
memory usage: 2.0+ MB

In [17]:
# list the column variable with the data
ldf = list(df.columns.values)

In [19]:
len(ldf)

15

In [9]:
# df['FirstName'] = df[['Name']].apply(lamda x: x.split(',')[0])
# df['Name'].isnull().sum()

'''
You can use str.split to split the strings, then test the number of splits using str.
len and use this as a boolean mask to assign just those rows with the last component of the split:
'''
# spliting LastName
df.loc[df['Name'].str.split().str.len() == 2, 'LastName'] = df['Name'].str.split().str[-1]

# splitting FirstName
df.loc[df['Name'].str.split().str.len() == 2, 'FirstName'] = df['Name'].str.split().str[0]

In [10]:
df

                    Player Id             Name  ... LastName  FirstName
0            jeffnady/2541732       Nady, Jeff  ...     Jeff      Nady,
1          chrisriley/2530729     Riley, Chris  ...    Chris     Riley,
2          chrisriley/2530729     Riley, Chris  ...    Chris     Riley,
3          chrisriley/2530729     Riley, Chris  ...    Chris     Riley,
4          chrisriley/2530729     Riley, Chris  ...    Chris     Riley,
...                       ...              ...  ...      ...        ...
130044  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,
130045  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,
130046  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,
130047  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,
130048  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,

[130049 rows x 15 columns]

In [14]:
# converting dataframe to numpy object using 'values' attributes 
x = df.values
df.describe()

                Year           Week   Games Played
count  130049.000000  130049.000000  130049.000000
mean     1998.308707       8.481226       0.854539
std        13.607618       5.329845       0.352566
min      1970.000000       0.000000       0.000000
25%      1987.000000       4.000000       1.000000
50%      2001.000000       8.000000       1.000000
75%      2010.000000      13.000000       1.000000
max      2016.000000      23.000000       1.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130049 entries, 0 to 130048
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Player Id      130049 non-null  object
 1   Name           130049 non-null  object
 2   Position       28678 non-null   object
 3   Year           130049 non-null  int64
 4   Season         130049 non-null  object
 5   Week           130049 non-null  int64
 6   Game Date      130049 non-null  object
 7   Home or Away   130049 non-null  object
 8   Opponent       130049 non-null  object
 9   Outcome        130049 non-null  object
 10  Score          130049 non-null  object
 11  Games Played   130049 non-null  int64
 12  Games Started  130049 non-null  object
 13  LastName       128977 non-null  object
 14  FirstName      128977 non-null  object
dtypes: int64(3), object(12)
memory usage: 14.9+ MB

In [15]:
x

array([['jeffnady/2541732', 'Nady, Jeff', nan, ..., '0', 'Jeff', 'Nady,'],
       ['chrisriley/2530729', 'Riley, Chris', nan, ..., '0', 'Chris',
        'Riley,'],
       ['chrisriley/2530729', 'Riley, Chris', nan, ..., '0', 'Chris',
        'Riley,'],
       ...,
       ['stephengoodin/2535931', 'Goodin, Stephen', nan, ..., '0',
        'Stephen', 'Goodin,'],
       ['stephengoodin/2535931', 'Goodin, Stephen', nan, ..., '0',
        'Stephen', 'Goodin,'],
       ['stephengoodin/2535931', 'Goodin, Stephen', nan, ..., '0',
        'Stephen', 'Goodin,']], dtype=object)

In [ ]:
df.isna().sum()

Player Id             0
Name                  0
Position         101371
Year                  0
Season                0
Week                  0
Game Date             0
Home or Away          0
Opponent              0
Outcome               0
Score                 0
Games Played          0
Games Started         0
LastName           1072
FirstName          1072
dtype: int64

## Statistical Function in NumPy
### x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 - **a = np.arrange(x)**\
 - **b = np.median(x)**\
 - **c = np.average(x)**
 - **d = np.mean(x)**
 - **e = np.std(a) #standard deviation**
 - **d = np.var(a) #varience**
 - **np.histogram(a)**

# Clustering Data

In [31]:
data = pd.read_csv('ClusterData.csv')

In [34]:
data.describe()

       data science  cluster analysis  ...     region   division
count     48.000000         48.000000  ...  48.000000  48.000000
mean      -0.000833         -0.012500  ...   2.604167   4.958333
std        0.971397          0.972073  ...   1.046566   2.483634
min       -1.270000         -1.700000  ...   1.000000   1.000000
25%       -0.662500         -0.730000  ...   2.000000   3.000000
50%       -0.235000         -0.135000  ...   3.000000   5.000000
75%        0.352500          0.412500  ...   3.000000   7.000000
max        2.730000          2.910000  ...   4.000000   9.000000

[8 rows x 28 columns]

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              48 non-null     object
 1   state_code         48 non-null     object
 2   data science       48 non-null     float64
 3   cluster analysis   48 non-null     float64
 4   college            48 non-null     float64
 5   startup            48 non-null     float64
 6   entrepreneur       48 non-null     float64
 7   ceo                48 non-null     float64
 8   mortgage           48 non-null     float64
 9   nba                48 non-null     float64
 10  nfl                48 non-null     float64
 11  mlb                48 non-null     float64
 12  fifa               48 non-null     float64
 13  modern dance       48 non-null     float64
 14  prius              48 non-null     float64
 15  escalade           48 non-null     float64
 16  subaru             48 non-null     float64
 17  jello              48 non-null     float64
 18  bbq                48 non-null     float64
 19  royal family       48 non-null     float64
 20  obfuscation        48 non-null     float64
 21  unicorn            48 non-null     float64
 22  Extraversion       48 non-null     float64
 23  Agreeableness      48 non-null     float64
 24  Conscientiousness  48 non-null     float64
 25  Neuroticism        48 non-null     float64
 26  Openness           48 non-null     float64
 27  PsychRegions       48 non-null     int64
 28  region             48 non-null     int64
 29  division           48 non-null     int64
dtypes: float64(25), int64(3), object(2)
memory usage: 11.4+ KB

## Saving Numerical data only data_inc dataframe
Because for cluster analysis we only need numerical datas

In [42]:
data_inc = data[data.columns[2:]]

# defining index of data_inc dataframe
data_inc.index = data.iloc[:,1]

In [43]:
data_inc

            data science  cluster analysis  ...  region  division
state_code                                  ...
AL                 -1.00             -0.13  ...       3         6
AZ                 -0.42             -0.73  ...       4         8
AR                 -0.66             -0.39  ...       3         7
CA                  1.95             -0.62  ...       4         9
CO                  0.34              0.00  ...       4         8
CT                  0.69              1.28  ...       1         1
DE                  0.45              2.91  ...       3         5
FL                 -0.73             -1.38  ...       3         5
GA                 -0.27             -0.57  ...       3         5
ID                 -0.67             -1.12  ...       4         8
IL                  0.87              0.79  ...       2         3
IN                  0.01              0.65  ...       2         3
IA                 -0.26              0.02  ...       2         4
KS                 -0.73             -0.96  ...       2         4
KY                 -0.65             -0.96  ...       3         6
LA                 -1.08             -1.02  ...       3         7
ME                 -0.79             -1.00  ...       1         1
MD                  2.00              2.57  ...       3         5
MA                  2.73              2.53  ...       1         1
MI                 -0.18              0.20  ...       2         3
MN                  0.16             -0.14  ...       2         4
MS                 -1.27             -0.23  ...       3         6
MO                 -0.47             -0.31  ...       2         4
MT                 -0.91              1.09  ...       4         8
NE                 -0.12              0.34  ...       2         4
NV                 -0.64             -1.70  ...       4         8
NH                 -0.16              0.12  ...       1         1
NJ                  1.42             -0.31  ...       1         2
NM                 -0.39              0.70  ...       4         8
NY                  2.03              0.04  ...       1         2
NC                  0.25              0.51  ...       3         5
ND                 -1.26             -0.45  ...       2         4
OH                 -0.21              0.31  ...       2         3
OK                 -0.79             -0.79  ...       3         7
OR                 -0.06             -1.04  ...       4         9
PA                  0.35              0.55  ...       1         2
RI                  1.34              0.51  ...       1         1
SC                 -0.59             -0.86  ...       3         5
SD                 -0.64             -0.02  ...       2         4
TN                 -0.47             -0.73  ...       3         6
TX                 -0.18             -0.80  ...       3         7
UT                  0.36              1.17  ...       4         8
VT                 -0.04              0.38  ...       1         1
VA                  0.85             -0.21  ...       3         5
WA                  2.09             -0.13  ...       4         9
WV                 -0.82             -0.65  ...       3         5
WI                 -0.30             -0.19  ...       2         3
WY                 -1.17              0.17  ...       4         8

[48 rows x 28 columns]

In [48]:
# importing required librery for Clustering data
from sklearn.preprocessing import scale
from sklearn.decomposition import PCA
from matplotlib import pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage

### main analysis:
Creating a 'linlage matrix' for clustering which we imported from scipy library

In [50]:
linkage_matrix = linkage(data_inc, 'ward')
# Perform Wardâ€™s linkage on a condensed distance matrix.

In [51]:
linkage_matrix

array([[  0.        ,  19.        ,   6.6479997 ,   2.        ],
       [  1.        ,   4.        ,   8.2426634 ,   2.        ],
       [ 32.        ,  35.        ,   8.70851882,   2.        ],
       [ 30.        ,  39.        ,   8.79376484,   2.        ],
       [ 11.        ,  14.        ,   9.33453266,   2.        ],
       [ 12.        ,  46.        ,   9.41873134,   2.        ],
       [ 34.        ,  44.        ,   9.71345459,   2.        ],
       [  8.        ,  37.        ,  10.08061506,   2.        ],
       [ 21.        ,  22.        ,  10.57154199,   2.        ],
       [  5.        ,  27.        ,  10.93411633,   2.        ],
       [ 13.        ,  33.        ,  11.18536097,   2.        ],
       [ 20.        ,  38.        ,  12.50320359,   2.        ],
       [  7.        ,  55.        ,  12.86628151,   3.        ],
       [ 50.        ,  52.        ,  13.08690949,   4.        ],
       [ 10.        ,  40.        ,  13.23779816,   2.        ],
       [  3.        ,  43.        ,  13.64373483,   2.        ],
       [ 23.        ,  28.        ,  13.74124449,   2.        ],
       [ 18.        ,  29.        ,  14.40427714,   2.        ],
       [  9.        ,  47.        ,  14.55865035,   2.        ],
       [ 15.        ,  61.        ,  15.42070167,   5.        ],
       [ 24.        ,  59.        ,  15.77350204,   3.        ],
       [ 48.        ,  56.        ,  16.12887473,   4.        ],
       [ 36.        ,  65.        ,  16.90677182,   3.        ],
       [  2.        ,  26.        ,  17.31484912,   2.        ],
       [ 58.        ,  66.        ,  18.73888204,   4.        ],
       [  6.        ,  71.        ,  19.05441681,   3.        ],
       [ 25.        ,  49.        ,  21.51916588,   3.        ],
       [ 62.        ,  69.        ,  21.73397954,   6.        ],
       [ 17.        ,  70.        ,  22.51055789,   4.        ],
       [ 31.        ,  53.        ,  23.03925418,   3.        ],
       [ 41.        ,  68.        ,  23.93178918,   4.        ],
       [ 63.        ,  74.        ,  25.35120865,   5.        ],
       [ 54.        ,  64.        ,  25.5204036 ,   4.        ],
       [ 51.        ,  60.        ,  26.81570771,   5.        ],
       [ 45.        ,  73.        ,  28.07440115,   4.        ],
       [ 16.        ,  76.        ,  28.48363056,   5.        ],
       [ 42.        ,  80.        ,  29.2847783 ,   5.        ],
       [ 57.        ,  83.        ,  31.87098138,   7.        ],
       [ 67.        ,  82.        ,  33.43160222,   9.        ],
       [ 75.        ,  81.        ,  33.76792223,  11.        ],
       [ 77.        ,  78.        ,  34.89442826,   7.        ],
       [ 72.        ,  86.        ,  38.98755959,  13.        ],
       [ 79.        ,  84.        ,  48.76744324,  10.        ],
       [ 87.        ,  88.        ,  50.05413982,  18.        ],
       [ 85.        ,  89.        ,  63.41432036,  20.        ],
       [ 90.        ,  92.        ,  81.70380124,  30.        ],
       [ 91.        ,  93.        , 116.73373552,  48.        ]])