<a href="https://colab.research.google.com/github/abidshafee/google.colaboratory_projects/blob/master/DataScience_Foundation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data reduction or Dimentionality reduction

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import scale
from sklearn.decomposition import PCA

In [5]:
from google.colab import files
uploaded = files.upload()

Saving Game_Logs_Offensive_Line.csv to Game_Logs_Offensive_Line.csv

In [6]:
df = pd.read_csv('Game_Logs_Offensive_Line.csv')

In [7]:
df

                    Player Id             Name  ... Games Played  Games Started
0            jeffnady/2541732       Nady, Jeff  ...            0              0
1          chrisriley/2530729     Riley, Chris  ...            1              0
2          chrisriley/2530729     Riley, Chris  ...            1              0
3          chrisriley/2530729     Riley, Chris  ...            1              0
4          chrisriley/2530729     Riley, Chris  ...            1              0
...                       ...              ...  ...          ...            ...
130044  stephengoodin/2535931  Goodin, Stephen  ...            1              0
130045  stephengoodin/2535931  Goodin, Stephen  ...            1              0
130046  stephengoodin/2535931  Goodin, Stephen  ...            1              0
130047  stephengoodin/2535931  Goodin, Stephen  ...            0              0
130048  stephengoodin/2535931  Goodin, Stephen  ...            1              0

[130049 rows x 13 columns]

In [17]:
# list the column variable with the data
ldf = list(df.columns.values)

In [9]:
# df['FirstName'] = df[['Name']].apply(lamda x: x.split(',')[0])
# df['Name'].isnull().sum()

'''
You can use str.split to split the strings, then test the number of splits using str.
len and use this as a boolean mask to assign just those rows with the last component of the split:
'''
# spliting LastName
df.loc[df['Name'].str.split().str.len() == 2, 'LastName'] = df['Name'].str.split().str[-1]

# splitting FirstName
df.loc[df['Name'].str.split().str.len() == 2, 'FirstName'] = df['Name'].str.split().str[0]

In [10]:
df

                    Player Id             Name  ... LastName  FirstName
0            jeffnady/2541732       Nady, Jeff  ...     Jeff      Nady,
1          chrisriley/2530729     Riley, Chris  ...    Chris     Riley,
2          chrisriley/2530729     Riley, Chris  ...    Chris     Riley,
3          chrisriley/2530729     Riley, Chris  ...    Chris     Riley,
4          chrisriley/2530729     Riley, Chris  ...    Chris     Riley,
...                       ...              ...  ...      ...        ...
130044  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,
130045  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,
130046  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,
130047  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,
130048  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,

[130049 rows x 15 columns]

In [14]:
# converting dataframe to numpy object using 'values' attributes 
x = df.values
df.describe()

                Year           Week   Games Played
count  130049.000000  130049.000000  130049.000000
mean     1998.308707       8.481226       0.854539
std        13.607618       5.329845       0.352566
min      1970.000000       0.000000       0.000000
25%      1987.000000       4.000000       1.000000
50%      2001.000000       8.000000       1.000000
75%      2010.000000      13.000000       1.000000
max      2016.000000      23.000000       1.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130049 entries, 0 to 130048
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Player Id      130049 non-null  object
 1   Name           130049 non-null  object
 2   Position       28678 non-null   object
 3   Year           130049 non-null  int64
 4   Season         130049 non-null  object
 5   Week           130049 non-null  int64
 6   Game Date      130049 non-null  object
 7   Home or Away   130049 non-null  object
 8   Opponent       130049 non-null  object
 9   Outcome        130049 non-null  object
 10  Score          130049 non-null  object
 11  Games Played   130049 non-null  int64
 12  Games Started  130049 non-null  object
 13  LastName       128977 non-null  object
 14  FirstName      128977 non-null  object
dtypes: int64(3), object(12)
memory usage: 14.9+ MB

In [15]:
x

array([['jeffnady/2541732', 'Nady, Jeff', nan, ..., '0', 'Jeff', 'Nady,'],
       ['chrisriley/2530729', 'Riley, Chris', nan, ..., '0', 'Chris',
        'Riley,'],
       ['chrisriley/2530729', 'Riley, Chris', nan, ..., '0', 'Chris',
        'Riley,'],
       ...,
       ['stephengoodin/2535931', 'Goodin, Stephen', nan, ..., '0',
        'Stephen', 'Goodin,'],
       ['stephengoodin/2535931', 'Goodin, Stephen', nan, ..., '0',
        'Stephen', 'Goodin,'],
       ['stephengoodin/2535931', 'Goodin, Stephen', nan, ..., '0',
        'Stephen', 'Goodin,']], dtype=object)

In [ ]:
df.isna().sum()

Player Id             0
Name                  0
Position         101371
Year                  0
Season                0
Week                  0
Game Date             0
Home or Away          0
Opponent              0
Outcome               0
Score                 0
Games Played          0
Games Started         0
LastName           1072
FirstName          1072
dtype: int64

## Statistical Function in NumPy
### x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 - **a = np.arrange(x)**\
 - **b = np.median(x)**\
 - **c = np.average(x)**
 - **d = np.mean(x)**
 - **e = np.std(a) #standard deviation**
 - **d = np.var(a) #varience**
 - **np.histogram(a)**