<a href="https://colab.research.google.com/github/abidshafee/google.colaboratory_projects/blob/master/PlotlyInterActiveCandleStick.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This program will create an interactive candlestick chart

In [1]:
import plotly.graph_objects as go
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving EURUSD=X.csv to EURUSD=X.csv

In [3]:
df = pd.read_csv("EURUSD=X.csv")

In [4]:
df

           Date      Open      High       Low     Close  Adj Close  Volume
0    2019-07-11  1.126126  1.128796  1.125176  1.125885   1.125885       0
1    2019-07-12  1.125024  1.127800  1.123974  1.125239   1.125239       0
2    2019-07-15  1.127180  1.128599  1.125568  1.127205   1.127205       0
3    2019-07-16  1.126088  1.126634  1.120900  1.126177   1.126177       0
4    2019-07-17  1.121328  1.123343  1.120109  1.121227   1.121227       0
..          ...       ...       ...       ...       ...        ...     ...
257  2020-07-06  1.124885  1.134687  1.124885  1.124720   1.124720       0
258  2020-07-07  1.131030  1.133658  1.126037  1.131286   1.131286       0
259  2020-07-08  1.127281  1.134559  1.126519  1.127523   1.127523       0
260  2020-07-09  1.133787  1.137268  1.128796  1.133915   1.133915       0
261  2020-07-10  1.128923  1.132477  1.125720  1.128796   1.128796       0

[262 rows x 7 columns]

In [5]:
# setting new index
df = df.set_index(pd.DatetimeIndex(df['Date'].values))

In [6]:
df

                  Date      Open      High  ...     Close  Adj Close  Volume
2019-07-11  2019-07-11  1.126126  1.128796  ...  1.125885   1.125885       0
2019-07-12  2019-07-12  1.125024  1.127800  ...  1.125239   1.125239       0
2019-07-15  2019-07-15  1.127180  1.128599  ...  1.127205   1.127205       0
2019-07-16  2019-07-16  1.126088  1.126634  ...  1.126177   1.126177       0
2019-07-17  2019-07-17  1.121328  1.123343  ...  1.121227   1.121227       0
...                ...       ...       ...  ...       ...        ...     ...
2020-07-06  2020-07-06  1.124885  1.134687  ...  1.124720   1.124720       0
2020-07-07  2020-07-07  1.131030  1.133658  ...  1.131286   1.131286       0
2020-07-08  2020-07-08  1.127281  1.134559  ...  1.127523   1.127523       0
2020-07-09  2020-07-09  1.133787  1.137268  ...  1.133915   1.133915       0
2020-07-10  2020-07-10  1.128923  1.132477  ...  1.128796   1.128796       0

[262 rows x 7 columns]