<a href="https://colab.research.google.com/github/abidshafee/google.colaboratory_projects/blob/master/Python4Finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
style.use('ggplot')

In [8]:
# accessing data using pandas web api
df = web.DataReader('EURUSD=X', data_source='yahoo', start='2012-01-1', end='2020-7-19')
# or we can use following comand to upload data
from google.colab import files
uploaded = files.upload()

Saving EURUSD=X.csv to EURUSD=X.csv

In [12]:
df2 = pd.read_csv('EURUSD=X.csv', parse_dates=True, index_col=0)
df2

                Open      High       Low     Close  Adj Close  Volume
Date
2019-07-11  1.126126  1.128796  1.125176  1.125885   1.125885       0
2019-07-12  1.125024  1.127800  1.123974  1.125239   1.125239       0
2019-07-15  1.127180  1.128599  1.125568  1.127205   1.127205       0
2019-07-16  1.126088  1.126634  1.120900  1.126177   1.126177       0
2019-07-17  1.121328  1.123343  1.120109  1.121227   1.121227       0
...              ...       ...       ...       ...        ...     ...
2020-07-06  1.124885  1.134687  1.124885  1.124720   1.124720       0
2020-07-07  1.131030  1.133658  1.126037  1.131286   1.131286       0
2020-07-08  1.127281  1.134559  1.126519  1.127523   1.127523       0
2020-07-09  1.133787  1.137268  1.128796  1.133915   1.133915       0
2020-07-10  1.128923  1.132477  1.125720  1.128796   1.128796       0

[262 rows x 6 columns]

In [18]:
# creating new column 100ma in df2 data frame
df2['100ma'] = df2['Adj Close'].rolling(window=100).mean()

In [21]:
df2

                Open      High       Low     Close  Adj Close  Volume     100ma
Date
2020-04-14  1.091953  1.098394  1.091572  1.092299   1.092299       0  1.103827
2020-04-15  1.098237  1.098901  1.085765  1.098539   1.098539       0  1.103790
2020-04-16  1.090382  1.090774  1.082966  1.090510   1.090510       0  1.103690
2020-04-17  1.086012  1.089325  1.081268  1.085847   1.085847       0  1.103537
2020-04-20  1.086626  1.089704  1.084305  1.086697   1.086697       0  1.103385
...              ...       ...       ...       ...        ...     ...       ...
2020-07-06  1.124885  1.134687  1.124885  1.124720   1.124720       0  1.102076
2020-07-07  1.131030  1.133658  1.126037  1.131286   1.131286       0  1.102549
2020-07-08  1.127281  1.134559  1.126519  1.127523   1.127523       0  1.103029
2020-07-09  1.133787  1.137268  1.128796  1.133915   1.133915       0  1.103558
2020-07-10  1.128923  1.132477  1.125720  1.128796   1.128796       0  1.104058

[64 rows x 7 columns]

In [20]:
# we can drop NaN value from the data frmame
# but in this case our data frame will loos the data of 100 days
df2.dropna(inplace=True)

In [22]:
# or we can use filna() method to fill the NaN with 0 or any other values
df2.fillna(df['Low'].mean())

                Open      High       Low     Close  Adj Close  Volume     100ma
Date
2020-04-14  1.091953  1.098394  1.091572  1.092299   1.092299       0  1.103827
2020-04-15  1.098237  1.098901  1.085765  1.098539   1.098539       0  1.103790
2020-04-16  1.090382  1.090774  1.082966  1.090510   1.090510       0  1.103690
2020-04-17  1.086012  1.089325  1.081268  1.085847   1.085847       0  1.103537
2020-04-20  1.086626  1.089704  1.084305  1.086697   1.086697       0  1.103385
...              ...       ...       ...       ...        ...     ...       ...
2020-07-06  1.124885  1.134687  1.124885  1.124720   1.124720       0  1.102076
2020-07-07  1.131030  1.133658  1.126037  1.131286   1.131286       0  1.102549
2020-07-08  1.127281  1.134559  1.126519  1.127523   1.127523       0  1.103029
2020-07-09  1.133787  1.137268  1.128796  1.133915   1.133915       0  1.103558
2020-07-10  1.128923  1.132477  1.125720  1.128796   1.128796       0  1.104058

[64 rows x 7 columns]

In [28]:
# resampling data to 10 days data, currently it is single days data
new_df2 = df2['Adj Close'].resample('10D').mean()
# we can use any time frame 10Min, 2 week etc
# it takes data of specified time frame and return the mean of 10D shrink the size of data

In [29]:
new_df2.head()

Date
2020-04-14    1.088373
2020-04-24    1.084747
2020-05-04    1.085425
2020-05-14    1.089011
2020-05-24    1.101900
Freq: 10D, Name: Adj Close, dtype: float64