<a href="https://colab.research.google.com/github/abidshafee/google.colaboratory_projects/blob/master/Statistics4ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
plt.style.use('fivethirtyeight')

In [3]:
from google.colab import files
uploaded = files.upload()

Saving datasets_COVID19.csv to datasets_COVID19.csv

In [5]:
df = pd.read_csv('datasets_COVID19.csv')
df.head()

   id  case_in_country reporting date  ...  Unnamed: 24 Unnamed: 25 Unnamed: 26
0   1              NaN      1/20/2020  ...          NaN         NaN         NaN
1   2              NaN      1/20/2020  ...          NaN         NaN         NaN
2   3              NaN      1/21/2020  ...          NaN         NaN         NaN
3   4              NaN      1/21/2020  ...          NaN         NaN         NaN
4   5              NaN      1/21/2020  ...          NaN         NaN         NaN

[5 rows x 27 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1085 non-null   int64
 1   case_in_country        888 non-null    float64
 2   reporting date         1084 non-null   object
 3   Unnamed: 3             0 non-null      float64
 4   summary                1080 non-null   object
 5   location               1085 non-null   object
 6   country                1085 non-null   object
 7   gender                 902 non-null    object
 8   age                    843 non-null    float64
 9   symptom_onset          563 non-null    object
 10  If_onset_approximated  560 non-null    float64
 11  hosp_visit_date        507 non-null    object
 12  exposure_start         128 non-null    object
 13  exposure_end           341 non-null    object
 14  visiting Wuhan         1085 non-null   int64
 15  from Wuhan             1081 non-null   float64
 16  death                  1085 non-null   object
 17  recovered              1085 non-null   object
 18  symptom                270 non-null    object
 19  source                 1085 non-null   object
 20  link                   1085 non-null   object
 21  Unnamed: 21            0 non-null      float64
 22  Unnamed: 22            0 non-null      float64
 23  Unnamed: 23            0 non-null      float64
 24  Unnamed: 24            0 non-null      float64
 25  Unnamed: 25            0 non-null      float64
 26  Unnamed: 26            0 non-null      float64
dtypes: float64(11), int64(2), object(14)
memory usage: 229.0+ KB

In [7]:
df.describe(include='all')

                 id  case_in_country  ... Unnamed: 25  Unnamed: 26
count   1085.000000       888.000000  ...         0.0          0.0
unique          NaN              NaN  ...         NaN          NaN
top             NaN              NaN  ...         NaN          NaN
freq            NaN              NaN  ...         NaN          NaN
mean     543.000000        48.841216  ...         NaN          NaN
std      313.356825        78.853528  ...         NaN          NaN
min        1.000000         1.000000  ...         NaN          NaN
25%      272.000000        11.000000  ...         NaN          NaN
50%      543.000000        28.000000  ...         NaN          NaN
75%      814.000000        67.250000  ...         NaN          NaN
max     1085.000000      1443.000000  ...         NaN          NaN

[11 rows x 27 columns]

In [16]:
# drping the link column
nw_df = df.drop(['link'], axis=1)

In [17]:
nw_df.head()

   id  case_in_country reporting date  ...  Unnamed: 24 Unnamed: 25 Unnamed: 26
0   1              NaN      1/20/2020  ...          NaN         NaN         NaN
1   2              NaN      1/20/2020  ...          NaN         NaN         NaN
2   3              NaN      1/21/2020  ...          NaN         NaN         NaN
3   4              NaN      1/21/2020  ...          NaN         NaN         NaN
4   5              NaN      1/21/2020  ...          NaN         NaN         NaN

[5 rows x 26 columns]